<tr>
                      
   <th>{{date_start}}</th>
   <th>{{date_end}}</th>
   <th>{{patient_id}}</th>
   <th>{{service_id}}</th>
   
   
   
   <th>
     <div class="level">
      <i id="view-icon" class="fas fa-eye -mx-1 bview view-icon" data-id="{{id}}"></i>
      <i  id="edit-icon" class="far fa-edit mx-1 bedit edit-icon" data-id="{{id}}"></i>
      <i  id="delete-icon" class="fas fa-trash -mx-1 bdelete delete-icon" data-id="{{id}}"></i>
    </div>
   </th>
                     
</tr>